/* Estilos del pie de página */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f7;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
